body {
  padding: 10px 20px 30px 20px;
}
.header {
  width: 1440px;
  height: 64px;
  align-items: center;
}

.app {
  width: 1280px;
  display: flex;
  flex-direction: row;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-items: center;
}
