body {
    width: fit-content;
    padding: 10px 20px 30px 20px;
}
.header {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 64px;
    align-items: center;
    justify-content: space-between;
}

.app {
    display: flex;
    flex-direction: row;
    gap: var(--Number-300, 10px);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-items: center;
}
