.column {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}
.column__head {
  display: flex;
  padding: 0 16px;
  width: 300px;
  align-items: center;
  margin-bottom: 10px;
}

.column__head-plus {
  margin-left: auto;
}

.column__head-close {
  margin-left: 8px;
}

.column__title {
  margin-right: 8px;
}
.column__cards-container {
  flex: 1 1 0;
  overflow: auto;
}
.column__cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.badge {
  border: 1px solid #eff0f6;
  padding: 0 8px;
  text-align: center;
}
