/* 모달 스타일 */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  width: 320px;
  padding: var(--Number-300, 24px);
  flex-direction: column;
  align-items: center;
  gap: var(--Number-300, 24px);
  border-radius: var(--Number-100, 8px);
  background: var(--surface-default, #fefefe);

  /* up */
  box-shadow: 0px 2px 8px 0px rgba(110, 128, 145, 0.16),
    0px 2px 8px 0px rgba(110, 128, 145, 0.16);
  backdrop-filter: blur(2px);

  position: absolute;
  top: 40%;
  left: 40%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.button-container {
  margin-top: 20px;
}

#deleteButton {
  background: red;
  color: white;
}
