@import "./variables.css";
@import "./reset.css";

#app {
  width: 100%;
  height: 100%;
  background-color: var(--bg_color);
  position: relative;
}

.header {
  width: 100%;
  height: 64px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  /* font-size: 24px;
  font-weight: 700; */
  font: 700 24px Pretendard, -apple-system, BlinkMacSystemFont, system-ui;
}

.header__history-btn {
  width: 24px;
  height: 24px;
}

.main {
  width: 100%;
  padding: 0 80px;
  height: calc(100% - 64px);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.main__column {
  width: 300px;
  height: 100%;
  flex-shrink: 0;
}

.main__column__nav {
  width: 100%;
  height: 24px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column__nav__info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.column__nav__info__title {
  font-size: 16px;
  font-weight: 700;
  color: var(--gray_dark);
}

.column__nav__info__count {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid var(--border_color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: var(--text_weak);
}

.column__nav__btn-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.column__nav__btn-list button {
  width: 24px;
  height: 24px;
}
.column__nav__btn-list__add-card-btn {
  background-image: url("/assets/plus.svg");
}
.column__nav__btn-list__delete-cloumn-btn {
  background-image: url("/assets/delete.svg");
}

.card-list {
  width: 100%;
  height: calc(100% - 34px);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: none; /* 파이어폭스 */
  /* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
}
.card-list::-webkit-scrollbar {
  display: none;
}

.card {
  width: 100%;
  min-height: 104px;
  background-color: var(--surface_default);
  border-radius: 8px;
  box-shadow: 0px 1px 4px 0px rgba(110, 128, 145, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  padding: 16px;
  position: relative;
}

.card__title {
  font-size: 14px;
  font-weight: 700;
  color: var(--text_strong);
}

.card__content {
  font-size: 14px;
  font-weight: 500;
  color: var(--text_default);
}

.card__author {
  font-size: 12px;
  font-weight: 500;
  color: var(--text_weak);
  margin-top: 8px;
}

.card__btn-list {
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__btn-list button {
  width: 24px;
  height: 24px;
}

.card__btn-list__delete-card-btn {
  background-image: url("/assets/delete.svg");
}

.card__btn-list__edit-card-btn {
  background-image: url("/assets/edit.svg");
}

.history {
  width: 366px;
  max-height: 680px;
  top: 64px;
  left: calc(100% - 56px - 366px);
  border-radius: 16px;
  background: #fff;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  border: none;
  box-shadow: 0px 16px 16px 0px rgba(110, 128, 145, 0.24), 0px 0px 4px 0px rgba(110, 128, 145, 0.08);
}
.history__header {
  width: 100%;
  padding: 8px;
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history__header__title {
  font-size: 16px;
  font-weight: 700;
}

.history__header__close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 32px;
  font-size: 14px;
  font-weight: 700;
  color: var(--text_default);
}

.history__header__close img {
  width: 16px;
  height: 16px;
}

.history__header__close p {
  flex-shrink: 0;
}

.history__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 552px;
  overflow-y: scroll;
  padding-bottom: 8px;
  scrollbar-width: none; /* 파이어폭스 */
  /* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
}
.history__list::-webkit-scrollbar {
  display: none;
}

.history-card {
  width: 100%;
  min-height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
}
.history__header__close {
  width: 40px;
  height: 40px;
}

.history-card__main {
  width: 260px;
  min-height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}

.history-card__username {
  font-size: 14px;
  font-weight: 500px;
  color: var(--text_default);
}

.history-card__content {
  font-size: 14px;
  font-weight: 500;
  color: var(--text_default);
}

.history-card__content strong {
  font-weight: 700;
  color: var(--text_bold);
}

.history-card__time {
  font-size: 12px;
  font-weight: 500;
  color: var(--text_weak);
}

.history__delete-all-btn {
  height: 32px;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  color: var(--text_danger);
  font-size: 14px;
  font-weight: 700;
  margin-right: 8px;
}
