:root {
  --bg_color: "#f7f7fc";
  --title_color: "#14142b";
  --content_color: "#6e7191";
  --author_color: "a0a3bd";
  --blue: "#007aff";
  --blue_light: "#b9d5fb";
  --gray_light: "f7f7fb";
  --red: "ff3b30";
}
