@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

:root {
  /* font token */
  --bold-l: normal 700 24px Pretendard;
  --bold-m: normal 700 16px Pretendard;
  --bold-r: normal 700 14px Pretendard;
  --bold-s: normal 700 12px Pretendard;
  --medium-m: normal 500 16px/22px Pretendard;
  --medium-r: normal 500 14px Pretendard;
  --medium-s: normal 500 12px Pretendard;

  /* color token */
  --grayscale-50: #fefefe;
  --grayscale-100: #f7f7fc;
  --grayscale-200: #eff0f6;
  --grayscale-300: #d9dbe9;
  --grayscale-400: #bec1d5;
  --grayscale-500: #a0a3bd;
  --grayscale-600: #6e7191;
  --grayscale-700: #4e4b66;
  --grayscale-800: #2a2a44;
  --grayscale-900: #14142b;
  --accent-blue: #007aff;
  --accent-red: #ff3b30;
}

/* font */
.display-bold24 {
  font: var(--bold-l);
}

.display-bold16 {
  font: var(--bold-m);
}

.display-bold14 {
  font: var(--bold-r);
}

.display-bold12 {
  font: var(--bold-s);
}

.display-medium16 {
  font: var(--medium-m);
}

.display-medium14 {
  font: var(--medium-r);
}

.display-medium12 {
  font: var(--medium-s);
}

.selected-bold16 {
  font: var(--bold-m);
}

.selected-bold14 {
  font: var(--bold-r);
}

.available-medium16 {
  font: var(--medium-m);
}

.available-medium14 {
  font: var(--medium-r);
}

/* color */
.text-strong {
  color: var(--grayscale-900);
}

.text-bold {
  color: var(--grayscale-700);
}

.text-default {
  color: var(--grayscale-600);
}

.text-weak {
  color: var(--grayscale-500);
}
.text-white-default {
  color: var(--grayscale-50);
}
.text-white-weak {
  color: var(--grayscale-100);
}

.text-brand {
  color: var(--accent-blue);
}
.text-danger {
  color: var(--accent-red);
}
.surface-default {
  background-color: var(--grayscale-50);
}
.surface-alt {
  background-color: var(--grayscale-100);
}
.surface-brand {
  background-color: var(--accent-blue);
}
.surface-danger {
  background-color: var(--accent-red);
}
.border-default {
  border-color: var(--grayscale-200);
}

.rounded-8 {
  border-radius: 8px;
}
.rounded-16 {
  border-radius: 16px;
}
.rounded-1\/2 {
  border-radius: 16px;
}

.shadow-normal {
  box-shadow: 0px 1px 4px 0px rgba(110, 128, 145, 0.24);
}

.shadow-up {
  box-shadow: 0px 2px 8px 0px rgba(110, 128, 145, 0.16),
    0px 2px 8px 0px rgba(110, 128, 145, 0.16);
  backdrop-filter: blur(2px);
}

.shadow-floating {
  box-shadow: 0px 16px 16px 0px rgba(110, 128, 145, 0.24),
    0px 0px 4px 0px rgba(110, 128, 145, 0.08);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
.header {
  display: flex;
  padding: 18px 80px 17px 80px;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
}
.logo {
  margin: 0;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
